/* Importa la fuente 'Outfit' de Google Fonts en dos pesos diferentes (200 y 700) */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;700&display=swap');

/* Define un box model consistente y aplica la fuente 'Outfit' a todos los elementos y al elemento HTML */
*, html{
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total del elemento */
  font-family:'Outfit', sans-serif; /* Establece la fuente 'Outfit' como fuente principal, con una fuente sans-serif como alternativa */
}

/* Elimina los márgenes y el padding predeterminados del navegador para los elementos html y body */
html, body {
  margin: 0;
  padding: 0;
}

a{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(246, 246, 246, 0.695);
}

code{
  display: inline-block;
  word-break: keep-all;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.338);
  padding: 0 .5ex;
  border-radius: .5ex;
}
/* Elimina los márgenes predeterminados del navegador para los elementos canvas */
canvas {
  margin: 0;
}

/* Define una cuadrícula de dos columnas iguales para el elemento <main> */
main{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el espacio disponible en dos columnas de igual tamaño */
}

/* Establece propiedades para el elemento con id="left" */
#left{
  padding: 5vw; /* Agrega un padding de 3em alrededor del contenido */
  /* Define un degradado lineal vertical para el fondo, desde un gris claro en la parte superior hasta un gris más oscuro en la parte inferior */
  background: linear-gradient(180deg, rgba(215,215,215,1) 0%, rgba(128,128,128,1) 100%);
}



.content{
  margin:0 0 2em 0;
}
/* Establece el tamaño de fuente para los elementos <h1> */
h1{
  font-size: 3em; /* Establece el tamaño de fuente en 3em */
}

/* Establece el tamaño de fuente para los elementos <p> dentro del elemento con id="left" */
#left li,
#left p{
  font-size: 1.44vw; /* Establece el tamaño de fuente en 1.5em */
  text-align: justify;
  hyphens: auto;
  line-height: 1.32em;
}

/* Establece propiedades para el elemento con id="right" */
#right{
  /* Define un degradado lineal horizontal para el fondo, desde un gris claro en la izquierda hasta un gris más oscuro en la derecha */
  background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(128,128,128,1) 100%);
}

@media only screen and (max-width: 399px) {
  main{
    grid-template-columns: 1fr; /* sólo una columna */
  }

  
  #left p{
    font-size: 1em; 
    line-height: 1.4em;
  }

  #right{
    height: 100vw;
  }
}

/* 
   todos los estilos a continuación se hicieron con esta herramienta:
   https://range-input-css.netlify.app/
   para darle estilo al input "range", que es el slider.
*/

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #d6d6d6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #000000;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #000000;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #d6d6d6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #000000;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #000000;
  outline-offset: 0.125rem;
}